body{
    background-image: url(recipes/images/flower.webp);
}


img{
    width: 300;
    height: 400;
    margin:auto;
    display: block;
    border: 6px dashed green ;
    
}


h1{
    text-align: center;
   border: 3px black solid;
   max-width: 354px;
   margin: 10px auto ;
   background-color: cyan;
}

.food{
    border: 3px black solid;
    background-color:yellow;
    max-width: 700px;
    margin: 10px auto;
    
}

h2{
    margin: 0 20px ;
    text-decoration:underline solid black  ;
}
p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: green;
    width: 70%;
    margin: 10px auto;
    border: 3px black solid;
    max-width: 800px;
    
}

.box,
.boxs{ background-color: lightgreen ;
    border: black 3px solid;
    margin: 10px;

}
.boxs{
    background-color: lightyellow;
}

.gif{
    width: 350px;
    height: auto;
    border: 7px solid black   ;
    margin:auto;
    display: block;
}

li.menu{
    font-size: 20px;
    text-align: center;
    background-color: cyan;
    ;
    font-weight: bold;
    width: 250px;
    height: auto;
    border: 3px black solid;
    margin-bottom: 10px;
    
    
}

button{
    font-size: 20px;
        width: 20%;
        min-width: 150px;
        max-width: 150px;
        display: block;
        margin: auto;
        background-color: lightgrey;
        font-weight: bold;
}

.table{
    display: table;
    margin: 0 auto;
}

ul.recipe{
    
    list-style-type: none;
    
            
}

ul.recipe li.menu{
    display: inline-block;
    margin: 10px 5px;
    

}

ol>li::marker{
    font-weight: bold;
    
}

ol>li{
    margin: 5px auto;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul>li{
    margin: 5px auto;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}